.conteiner {
  display: flex;
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif?1582740711');
  min-height: 100vh;
  background-position: center;
  align-items: center;
  background-size: cover;

}

.username {
  align-items: center;
  width: 250px;

}