.site-layout {
  background-color: #abd2fa;
  display: flex;
  min-height: 100vh;
  background-position: center;
  align-items: center;
}

.card-section {
  background-color: #3D518C;
  color: white;
  width: 700px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .online-users-title {
  position: absolute;
  top: -5px;
} */

.games-title {
  margin-top: -10px;
}

.allGames {
  display: flex;
  justify-content: space-between;
  /* center elements horizontally */
  align-items: center;
}

.online-users-section {
  display: flex;
  justify-content: space-evenly;
  /* center elements horizontally */
}

.card {
  position: relative;
  width: 49%;
  height: 180px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.users-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-footer {
  border-top: 1px solid;
  margin-top: -20px;
}

.media-link {
  color: inherit;
}