.avatar-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-image {
  cursor: pointer;
  border: 5px solid rgba(26, 34, 59);
  background-color: rgba(37, 49, 84);
  border-radius: 100px;
}


.avatar-username {
  cursor: pointer;
  display: flex;
  position: absolute;
  bottom: -1px;
  color: #eee;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 0 black, 0 2px black, 2px 0 black, 0 2px black;

}